#MiddlePanel {
  .range-brush {
    .selection {
      fill: url(#range);
      fill-opacity: 1;
      stroke: none;
    }
  }

  .my-handle {
    user-select: none;
    pointer-events: none;
    fill: #fff;
    stroke: #000;
  }

  .update-wrapper {
    display: flex;

    p {
      line-height: 20px;
    }

    svg {
      margin-right: 10px;
    }
  }

  .overview-wrapper {
    .overview-content {
      display: flex;
      flex-direction: column;

      // Ovewview.tsx
      #Overview {
        // padding: 10px 0;
        // flex: 0 1 23vw;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin: 5px;
        }
      }

      .info {
        // padding: 10px 5px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
          white-space: nowrap;
        }
      }
    }
  }

  .lines {
    .domain {
      opacity: 0;
    }

    .tick line {
      stroke: #efefef;
    }
  }
}
