#BottomPanel {
  padding: 10px;
  grid-row: 2;
  grid-column: 1 / -1;
  background-color: var(--default-color);
  position: relative;

  .tip {
    display: flex;

    span {
      margin-right: 5px;
    }
  }

  .lines {
    .domain {
      opacity: 0;
    }

    .tick line {
      stroke: var(--lines-color);
    }
  }

  .brush {
    rect {
      stroke: var(--primary-color);
      fill: var(--primary-color);
      fill-opacity: 1 !important;
    }
  }

  .tooltip {
    position: absolute;
    background-color: white;
    color: #666;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(33, 33, 33, 0.2);
    line-height: 1em;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    margin: 0 0 15px 15px;
  }
}
