#RightPanel {
  .grid-container {
    position: relative;
    display: flex;
    height: 90%;

    .legend {
      display: flex;
      position: absolute;
      left: 55%;
      right: 9%;

      svg {
        position: relative;
      }
    }

    .svg-wrapper {
      flex: 1 1 80%;

      .label {
        writing-mode: tb;
      }
    }

    .grid-info {
      flex: 1 0 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 0 5px;
      padding-left: 5px;
      border-left: 2px solid var(--background-color);

      p {
        white-space: nowrap;
      }

      .input-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }

  .legends {
    display: flex;
    align-items: center;
  }

  .line-wrapper {
    flex-basis: 50%;
  }

  .attr-container {
    flex: 2 1 44%;
    min-height: 44vh;
    display: flex;
    flex-direction: column;

    .lines-container {
      overflow: auto;
      flex: 1;

      .lines {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
      }
    }
  }

  .op-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dfd0c2;
    border-radius: 10px;
    padding: 5px 0;
  }
}
