#RightPanel {
  .content {
    padding: 0;
    display: grid;
    grid-template-columns: 62% auto;
    grid-template-rows: 30% auto;
  }

  .r-panel {
    padding: 5px 10px;
  }

  .weight-rects {
    border: 1px dashed var(--divider-color);
    border-width: 0 1px 1px 0;
  }

  .grid-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    .input-wrapper {
      display: flex;
      align-items: center;

      input {
        width: 60px;
      }
    }

    .chart-container {
      flex: 0 1 80%;
      display: grid;
      grid-template-areas:
        'b a a'
        'b c c'
        'b c c';
      height: 90%;

      .xLabels {
        grid-area: a;
        text-align: center;
        // position: absolute;
        // left: 10%;
        // top: 0;
        // right: 29%;
        background: #fff;
        margin-left: 40px;

        div {
          display: flex;
          justify-content: space-around;
        }
      }

      .yLabel-title {
        grid-area: b;
        writing-mode: vertical-rl;
        text-align: center;
      }

      .chart-wrapper {
        grid-area: c;
        overflow: auto;
        display: flex;

        .yLabels {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;

          span {
            writing-mode: tb;
          }
        }
      }
    }

    .svg-wrapper {
      position: relative;
      // overflow: auto;

      .label {
        writing-mode: tb;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .legends {
    display: flex;
    align-items: center;
  }

  // .line-wrapper {
  // flex-basis: 50%;
  // }

  .attr-container {
    display: flex;
    flex-direction: column;
    border-right: 1px dashed var(--divider-color);
    border-bottom: 1px dashed var(--divider-color);

    .row {
      h3 {
        white-space: nowrap;
        margin-right: 5px;
      }
    }

    .info {
      display: flex;

      .select-dropdown select {
        min-width: 50px;
        display: flex;
      }
    }

    .lines-container {
      overflow: auto;
      flex: 1;

      .lines {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
      }
    }

    .svg-legends {
      text {
        font-size: 14px;
      }
    }
  }

  .grid-wrapper {
    border-right: 1px dashed var(--divider-color);
    grid-row: 2;
    overflow: hidden;
  }

  .op-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    $color: #dfd0c2;

    #anno-panel {
      flex: 0 0 33%;
    }

    #control-panel {
      flex: 0 0 55%;
    }

    #anno-panel,
    #control-panel {
      border: 1px dashed $color;
      margin: 10px;

      p.title {
        background: $color;
        line-height: 3vh;
        text-align: center;
      }

      .lists {
        padding: 5px;
        display: flex;
        flex-direction: column;

        .anno {
          text-indent: 22px;
        }
      }

      .btn-area {
        display: flex;
        justify-content: flex-end;
        margin: 5px 0;
      }
    }
  }
}
