.pair-rect-container {
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
  padding: 5px;

  &:focus {
    outline: 1px solid #777;
  }

  .title {
    display: flex;
    justify-content: space-between;
  }

  .wrapper {
    display: flex;
    height: 45px;
    margin: 5px 0;

    .names {
      display: flex;
      flex-direction: column;
      flex: 1;

      p {
        line-height: 22.5px;
      }
    }

    .svg-wrapper {
      flex: 85% 0 0;
    }
  }
}
