#first-panel {
  // .content {
  //   // display: grid;
  //   // grid-template-rows: 30vw auto 40%;
  //   display: grid;
  //   grid-template-rows: 49% 10% auto;
  // }

  .input-wrapper {
    display: flex;
  }

  .scatter-container {
    // flex: 0 50%;

    // svg {
    //   width: 100%;
    //   height: 100%;
    // }

    .scatter-legends {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        margin: 0 10px;

        &::before {
          content: '';
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 0 5px;
          line-height: normal;
          vertical-align: middle;
        }
      }

      span:nth-child(1)::before {
        background: #b5b6b6;
      }

      span:nth-child(2)::before {
        background: var(--primary-color);
      }
    }

    .btns {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      .input-wrapper {
        display: flex;
        align-items: center;

        .label {
          width: 100%;
        }
      }

      .btn-wrapper {
        display: flex;
      }
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8px 0 0 0;
    position: relative;

    .legend {
      display: flex;
      margin-left: 55%;
      // svg {
      //   margin: 0 5px;
      // }
    }
  }

  .pair-rect-wrapper {
    overflow: auto;
    height: 30vh;
    padding: 10px;
  }
}
