.axes {
  text {
    user-select: none;
  }

  line {
    stroke-opacity: 0.6;
    stroke: rgb(60, 60, 60);
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
}

.scatter-box {
  overflow: hidden;
}

.container {
  position: relative;
  min-height: 38vh;
  margin: 5px 0 0 0;

  svg,
  .linemap {
    position: absolute;
    background-color: transparent;
  }

  .linemap {
    z-index: 100;
    cursor: grab;
  }
}
