:root {
  --primary-color: #aa815d;
  --secondar-color: rgba(0, 0, 0, 0.54);
  --divider-color: #868686;
  --default-color: #fff;
  --background-color: #efefef;
  --disabled-color: rgba(0, 0, 0, 0.26);
  --shadow-color: rgba(34, 36, 38, 0.15);
}

.App {
  display: grid;
  grid-template-columns: 26% 33% auto;
  grid-gap: 10px;
  background: var(--background-color);

  .panel {
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: var(--default-color);
    // h2 title
    h2 {
      margin: 0;
      text-align: center;
      background: var(--primary-color);
      color: var(--default-color);
      line-height: 5vh;
    }

    .content {
      padding: 0 10px;
      height: 95vh;
      display: grid;
      grid-template-rows: 52% 48%;
    }

    // 分割线
    .divider {
      width: 100%;
      height: 1px;
      margin: 1px 0;
      border-bottom: 1px solid var(--divider-color);
    }

    .dashed-divider {
      width: 100%;
      height: 1px;
      margin: 1px 0;
      border-bottom: 1px dashed var(--divider-color);
    }
  }
}

svg {
  text {
    user-select: none;
  }

  .axes {
    .tick line,
    .domain {
      opacity: 0;
    }
  }
}

.legend-wrapper {
  display: flex;

  p {
    margin: 0 4px;
  }
}

// dropdown
.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.select-dropdown {
  position: relative;
  background-color: var(--background-color);
  border: 1px solid var(--divider-color);
  border-radius: 4px;
}

.select-dropdown select {
  min-width: 100px;
  max-width: 100%;
  padding: 2px 24px 2px 4px;
  border: none;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.select-dropdown::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.row {
  display: flex;
  justify-content: space-between;

  p {
    white-space: nowrap;
  }
}

.info-row {
  display: flex;

  .select-dropdown {
    margin: 0 5px;
  }
}

/* 滚动条 */
div::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

div::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: var(--background-color);
  border-radius: 2px;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--divider-color);
  border-radius: 2px;
}
