:root {
  --primary-color: #aa815d;
  --secondar-color: rgba(0, 0, 0, 0.54);
  --divider-color: #868686;
  --default-color: #fff;
  --background-color: #efefef;
  --disabled-color: rgba(0, 0, 0, 0.26);
  --shadow-color: rgba(34, 36, 38, 0.15);
}

.App {
  display: grid;
  grid-template-columns: 37% 33% auto;
  grid-gap: 10px;
  background: var(--background-color);

  .panel {
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: var(--default-color);
    // h2 title
    h2 {
      margin: 0;
      text-align: center;
      background: var(--primary-color);
      color: var(--default-color);
      line-height: 40px;
    }

    .content {
      padding: 0 10px;
    }

    // 分割线
    .divider {
      width: 100%;
      height: 1px;
      margin: 1px 0;
      border-bottom: 1px solid var(--divider-color);
    }

    .dashed-divider {
      width: 100%;
      height: 1px;
      margin: 1px 0;
      border-bottom: 1px dashed var(--divider-color);
    }
  }
}

svg {
  text {
    user-select: none;
  }

  .axes {
    .tick line,
    .domain {
      opacity: 0;
    }
  }
}
